/me_ajuda_app/__pycache__/*
.env
/apps/usuarios/__pycache__/*
/apps/usuarios/migrations/*
/apps/cidadaos/__pycache__/*
/apps/cidadaos/migrations/*
/apps/secretarias/__pycache__/*
/apps/secretarias/migrations/*
/apps/servicos/__pycache__/*
/apps/servicos/migrations/*
/apps/funcionarios/__pycache__/*
/apps/funcionarios/migrations/*