{% extends 'base.html' %}

{% block title %} Cadastrar Intervenção {% endblock title %}

{% block body %}
<div class="form-padrao-container">
    
    <div style="flex: 2; min-width: 300px; margin-bottom: 30px;">
        <h2 style="text-align: center;">Cadastrar Intervenção</h2>

        <h3 style="margin-top: 0; color: #001f3f;">Detalhes Técnicos</h3>
        <p>Preencha os detalhes técnicos da intervenção</p>

        <form method="POST" action="{% url 'intervencoes:criar_intervencao' ocorrencia_id %}" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
            <div class="form-group-padrao" style="margin-bottom: 15px;">
                <label>{{ field.label }}:</label>
                {{ field }}
                {% if field.errors %}
                <span class="erro">{{ field.errors|striptags }}</span>
                {% endif %}
            </div>
            {% endfor %}

            <div class="form-acoes" style="margin-top: 20px;">
                <button type="submit" class="btn-primario">Confirmar e Salvar</button>
            </div>
        </form>
    </div>

    <hr>

    <div class="resumo-lateral">
    <div>
        <h3>Equipamentos Utilizados</h3>  
        <div class="form-acoes" style="margin-top: 20px; margin-bottom: 20px;">
            <a href="{% url 'intervencoes:alocacao_equipamentos' %}" class="btn-primario" style="background-color: green;">Alocar Equipamentos</a>
        </div>      
        {% if cart %}
            <ul class="resumo-lista" style="list-style-type: none; padding: 0; margin: 0;">
                {% for equipamento_id, item in cart.items %}
                <li style="margin-bottom: 10px; font-size: 14px;">
                    <strong>{{ item.nome }}</strong> <br>
                    {{ item.horas_usado }}h x R$ {{ item.preco|floatformat:2 }} = 
                    <span style="color: #28a745; font-weight: bold;">R$ {{ item.custo_total|floatformat:2 }}</span>
                </li>
                {% endfor %}
            </ul>
            
            <hr class="resumo-divisor margin-vertical" style="border: 0; border-top: 1px solid #ddd; margin: 15px 0;">
            
            <div style="font-size: 16px;">
                <strong>Total Equipamentos:</strong> 
                <span class="resumo-total-valor" style="color: #d9534f; font-size: 18px; float: right; font-weight: bold;">
                    R$ {{ total_equipamentos|floatformat:2 }}
                </span>
            </div>
        {% else %}
            <p style="font-size: 14px; color: #666;">Nenhum equipamento foi adicionado a esta intervenção.</p>
        {% endif %}
    </div>

    <hr>

    <div class="form-acoes" style="margin-top: 20px;">
        <a href="{% url 'ocorrencias:lista_ocorrencias' %}" class="btn-voltar">Cancelar</a>
    </div>
</div>

</div>
{% endblock body %}