{% extends 'base.html' %}

{% block title %} Editar Intervenção {% endblock title %}

{% block body %}
<div class="form-padrao-container">
    
    <div style="flex: 2; min-width: 300px; margin-bottom: 30px;">
        <h2 style="text-align: center;">Editar Intervenção</h2>

        <h3>Detalhes Técnicos</h3>

        <form method="POST" action="{% url 'intervencoes:editar_intervencao' intervencao_id=intervencao.id %}" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
                {% if field.field.widget.input_type == 'file' %}
                    <div class="form-group arquivo-container">
                        <label style="display: block; margin-bottom: 5px;">{{ field.label }}:</label>
                        <div class="arquivo-wrapper">
                            {{ field }}
                        </div>
                        {% if field.errors %}
                            <span class="erro">{{ field.errors|striptags }}</span>
                        {% endif %}
                    </div>
                {% elif field.field.widget.input_type == 'checkbox' %}
                    <div class="form-checkbox">
                        <label>{{ field.label }}:</label>
                        {{ field }}
                        {% if field.errors %}
                            <span class="erro">{{ field.errors|striptags }}</span>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="form-group-padrao">
                        <label>{{ field.label }}:</label>
                        {{ field }}
                        {% if field.errors %}
                            <span class="erro">{{ field.errors|striptags }}</span>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            <hr>

            <div class="form-acoes" style="margin-top: 20px;">
                <button type="submit" class="btn-primario">Salvar</button>
                <a href="{% url 'intervencoes:lista_intervencoes' %}" class="btn-voltar">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock body %}