{% extends 'base.html' %}

{% block title %} Lista de Cidadãos {% endblock title %}

{% block body %} 
<div class="lista-container" style="padding: 20px;">
    <h2 style="text-align: center;">Lista de Cidadãos</h2>

    <table class="tabela-lista">
        <thead>
            <tr style="background-color: #f2f2f2; text-align: left;">
                <th style="padding: 10px;">ID Cidadão</th>
                <th style="padding: 10px;">ID Usuário</th>
                <th style="padding: 10px;">Nome</th>
                <th style="padding: 10px;">CPF</th>
                <th style="padding: 10px;">E-mail</th>
                <th style="padding: 10px; width: 20%; text-align: center;">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for cidadao in cidadaos %}
            <tr>
                <td style="padding: 10px;">{{ cidadao.id }}</td>
                <td style="padding: 10px;"><strong>{{ cidadao.user.id }}</strong></td>
                <td style="padding: 10px;">{{ cidadao.nome }} {{ cidadao.sobrenome }}</td>
                <td style="padding: 10px;">{{ cidadao.cpf }}</td>
                <td style="padding: 10px;">{{ cidadao.email }}</td>
                <td style="padding: 10px; text-align: center; ">
                    <a href="{% url 'cidadaos:editar_cidadao' cidadao_id=cidadao.id %}" class="btn-lista">Editar</a>
                    <a href="{% url 'cidadaos:excluir_cidadao' cidadao_id=cidadao.id %}" class="btn-lista" style="background-color: red;">Excluir</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" style="padding: 20px; text-align: center;">Nenhum cidadão encontrado no momento.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}