{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
      {% block title %}MeAjuda - Zeladoria Urbana{% endblock title %}
    </title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="{% url 'core:home' %}">
            <img src="{% static 'img/logo.png' %}" />
          </a>
        </div>

        <ul class="nav-links">
          {% if user.is_authenticated %}
          
          {% if is_funcionario %}
          <li>
            <a class="nav-item" href="{% url 'ocorrencias:painel_funcionario' %}">Painel</a>
          </li>
          <li>
            <a class="nav-item" href="{% url 'intervencoes:intervencoes_lista' %}">Intervenções</a>
          </li>
          <li>
            <a class="nav-item" href="{% url 'servicos:servicos_lista' %}">Serviços</a>
          </li>
          <li>
            <a class="nav-item" href="{% url 'ocorrencias:ocorrencias_lista' %}">Ocorrências</a>
          </li>
          {% elif is_cidadao %}
          <li>
            <a class="nav-item" href="{% url 'secretarias:secretarias_lista' %}">Secretarias</a>
          </li>
          <li>
            <a class="nav-item" href="{% url 'servicos:servicos_lista' %}">Serviços</a>
          </li>
          <li>
            <a class="nav-item" href="{% url 'ocorrencias:ocorrencias_lista' %}">Minhas Ocorrências</a>
          </li>
          {% endif %}

          <li>
            <a class="nav-item" href="{% url 'usuarios:ver_usuario' %}">Meu Perfil</a>
          </li>

          <li>
            <form method="POST"
              action="{% url 'usuarios:logout_usuario' %}" style="display: inline">
              {% csrf_token %}
              <button type="submit" class="btn-logout">Sair</button>
            </form>
          </li>

          {% else %}
          <li><a href="{% url 'usuarios:login_usuario' %}" class="btn-primario">Entrar</a></li>
          <li><a href="{% url 'usuarios:registrar_usuario' %}" class="btn-secundario">Cadastrar</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    {% block body %}

    {% endblock body %}

  </body>
</html>
