{% extends 'base.html' %}

{% block title %} Cadastrar Nova Ocorrência {% endblock title %}

{% block body %}
<div class="registro-container">
    <h2 style="text-align: center;">Cadastrar Nova Ocorrência</h2>
    <p>Preencha as informações necessárias para registrar a ocorrência no sistema.</p>

    <form method="POST" action="{% url 'ocorrencias:criar_ocorrencia' %}" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                <label>{{ field.label }}:</label>
                {{ field }}
                {% if field.errors %}
                    <span class="erro">{{ field.errors|striptags }}</span>
                {% endif %}
            </div>
        {% endfor %}

        <div class="form-acoes">
            <button type="submit" class="btn-primario">Salvar Ocorrência</button>
            <a href="{% url 'ocorrencias:lista_ocorrencias' %}" class="btn-secundario">Cancelar</a>
        </div>
    </form>
</div>
{% endblock body %}