{% extends 'base.html' %}

{% block title %} Catálogo de Serviços {% endblock title %}

{% block body %}
<div class="servicos-container" style="padding: 20px;">
    <h2 style="text-align: center;">Catálogo de Serviços</h2>

    {% if is_gestor %}
    <div style="margin-bottom: 15px;">
        <a href="{% url 'servicos:criar_servico' %}" class="btn-primario">+ Cadastrar Novo Serviço</a>
    </div>
    {% endif %}

    {% if is_cidadao %}
    <p>Procure pelos serviços para solicitar.</p>
    <form method="GET" action="" class="form-busca">
        <input class="campo-busca" type="text" name="q" value="{{ query }}" placeholder="Pesquisar por nome ou descrição..." />
        <button type="submit" class="btn-primario">Buscar</button>
    </form>
    {% endif %}

    <table class="tabela-servicos" border="1" >
        <thead>
            <tr style="background-color: #f2f2f2; text-align: left;">
                <th style="padding: 10px; width: 15%;">Nome do Serviço</th>
                <th style="padding: 10px; width: 45%;">Descrição</th>
                {% if is_funcionario %}
                <th style="padding: 10px; width: 10%;">Prioriedade</th>
                {% endif %}
                <th style="padding: 10px; width: 15%;">Secretaria Responsável</th>
                {% if is_cidadao or is_gestor %}
                <th style="padding: 10px; width: 20%; text-align: center;">Ação</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for servico in servicos %}
            <tr>
                <td style="padding: 10px;"><strong>{{ servico.nome }}</strong></td>
                <td style="padding: 10px;">{{ servico.descricao|default:"Sem descrição disponível." }}</td>
                {% if is_funcionario %}
                <td style="padding: 10px; text-align: center;">{{ servico.nivel_prioridade|default:"Não definida." }}</td>
                {% endif %}
                <td style="padding: 10px;">{{ servico.secretaria }}</td>
                {% if is_cidadao or is_gestor %}
                <td style="padding: 10px; text-align: center;">
                    {% if is_cidadao %}
                    <a href="{% url 'ocorrencias:criar_ocorrencia' %}?servico_id={{ servico.id }}" class="btn-lista">Solicitar</a>
                    {% elif is_gestor %}
                    <a href="{% url 'servicos:editar_servico' servico_id=servico.id %}" class="btn-lista">Editar</a>
                    <a href="{% url 'servicos:excluir_servico' servico_id=servico.id %}" class="btn-lista" style="background-color: red;">Excluir</a>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" style="padding: 20px; text-align: center;">Nenhum serviço encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}