{% extends 'base.html' %}

{% block title %} {{ block.super }} {% endblock title%} 

{% block body %}
<main class="container">
  <div class="home">
    <h1>MeAjuda</h1>
    <h2>Zeladoria Urbana</h2>
    <p class="slogan">A plataforma oficial para conectar os cidadãos à prefeitura.</p>

    {% if not user.is_authenticated %}
    <div class="acoes">
      <a href="{% url 'usuarios:login_usuario' %}" class="btn-primario" style="background-color: #3362b4;">Fazer Login</a>
      <a href="{% url 'usuarios:registrar_usuario' %}" class="btn-secundario">Cadastre-se</a>
    </div>
    {% else %}
    {% if not user.is_superuser %}
    <div class="acoes">
      <a href="{% url 'usuarios:ver_usuario' %}" class="btn-primario" style="background-color: #3362b4;">Meu Perfil</a>
      {% if is_funcionario %}
      <a href="{% url 'ocorrencias:painel_ocorrencias' %}" class="btn-secundario">Painel do Funcionário</a>
      {% elif is_cidadao %}
      <a href="{% url 'ocorrencias:lista_ocorrencias' %}" class="btn-secundario">Minhas Ocorrências</a>
      {% endif %}
    </div>
    {% endif %}
    {% endif %}
  </div>
</main>
{% endblock body %}
