{% extends 'base.html' %}

{% block body %}
<div class="registro-container">
    <h2>Cadastrar Nova Conta</h2>

    <form method="POST" action="{% url 'usuarios:registrar' %}" id="formRegistro">
        {% csrf_token %}
        
        {{ user_form.non_field_errors }}
        {{ usuario_form.non_field_errors }}
        {{ cidadao_form.non_field_errors }}
        {{ funcionario_form.non_field_errors }}

        <h3>Dados de Acesso</h3>
        
        <div class="form-group">
            <label>Nome:</label>
            {{ usuario_form.nome }}
            <span class="erro">{{ usuario_form.nome.errors }}</span>
        </div>

        <div class="form-group">
            <label>Sobrenome:</label>
            {{ usuario_form.sobrenome }}
            <span class="erro">{{ usuario_form.sobrenome.errors }}</span>
        </div>

        <div class="form-group">
            <label>CPF:</label>
            {{ usuario_form.cpf }}
            <span class="erro">{{ usuario_form.cpf.errors }}</span>
        </div>

        <div class="form-group">
            <label>E-mail:</label>
            {{ usuario_form.email }}
            <span class="erro">{{ usuario_form.email.errors }}</span>
        </div>

        <div class="form-group">
            <label>Senha:</label>
            {{ user_form.password }}
            <span class="erro">{{ user_form.password.errors }}</span>
        </div>

        <div class="form-group">
            <label>Confirmar Palavra-passe:</label>
            <input type="password" id="confirmar_senha" required>
            <span id="erro_senha" style="color: red; display: none; font-size: 0.9em;">As senhas não são iguais!</span>
        </div>

        <hr>

        <button type="submit" class="btn-primario" id="btn_submit">Cadastrar</button>
    </form>

{% endblock body%}