{% extends 'base.html' %}

{% block title %} Editar Secretaria {% endblock title %}

{% block body %}
<div class="form-secretaria-container">
    <h2 style="text-align: center;">Editar Secretaria</h2>

    <form method="POST" action="{% url 'secretarias:editar_secretaria' secretaria_id=secretaria.id %}">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group-secretaria">
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field }}
                {% if field.errors %}
                    <span class="erro-secretaria">{{ field.errors|striptags }}</span>
                {% endif %}
            </div>
        {% endfor %}

        <div class="form-secretaria-acoes">
            <button type="submit" class="btn-primario">Salvar Secretaria</button>
            <a href="{% url 'secretarias:lista_secretarias' %}" class="btn-voltar">Cancelar</a>
        </div>
    </form>
</div>
{% endblock body %}